.login-form input[type="text"]{
    background-color: rgb(221, 221, 221);
    border:none;
    padding: 5px 10px;
}

.login-form input[type="text"]:focus{
    background-color: aqua;
}

.chk-menu:checked{
    outline: 3px solid red;
}

a:hover{
    background-color: red;
}

a:active{
    background-color: blue;
}

ul.liste li:first-child{
    font-weight: bold;
}


ul.liste li:last-child{
    font-style: italic;
}

ul.liste li:nth-child(3){
    color:red;
}

.price-list{
    margin: auto;
}


.price-list tr:nth-child(odd){
    background-color: beige;
}

.price-list tr:nth-child(even){
    background-color:aliceblue;
}

.price-list tr:nth-child(3n+1){
    background-color:blueviolet;
}