html, body{
    height:100%;
}

body{
    display: flex;
    flex-wrap: wrap;
    margin:0;
}

.kutu-1{
    background-color: yellow;
    flex:2 0 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:15px;
}

.kutu-1-1{
    background-color: greenyellow;
    flex:1;
}

