nav.menu{
    background-color: aqua;
    position: fixed;
    top:10px;
    right:10px;
    left:10px;
    z-index: 5;
}


table.price-list thead{
    background-color: burlywood;
    position: sticky;
    top:50px;

}