.title{
    background-color: aqua;
    padding: 30px;
    display: inline-block;
    width: 300px;
    height: 100px;
}

em{
    background-color: red;
    display: block;
}

.hidden{
    display: none;
}