.title1{
    font-size: 5rem;
    color:aliceblue;
    text-shadow: -2px -2px 30px black;
}
.title2{
    font-size: 5rem;
    color:aliceblue;
    text-shadow: -2px -2px 30px black,2px 2px 30px purple ;
}
.title3{
    font-size: 5rem;
    color:rgb(255, 136, 0);
    box-shadow: 2px 2px 30px black;
    display: inline-table,;
    text-align: center;
}
.title4{
    font-size: 5rem;
    color:rgb(0, 136, 255);
    box-shadow: -2px -2px 30px black;
    display: inline;
}