:root{
    --color1: rgb(222, 230, 188);
    --color2: rgb(69, 26, 210);
}

.title{
    color: var(--color2)
}

.about{
    background-color: var(--color1);
}

mark{
    background-color: var(--color2);
    color: var(--color1)
}